* {
  box-sizing: border-box;
}

li,
a,
button {
  font-weight: 500;
  font-size: 1rem;
  color: #edf0f1;
  text-decoration: none;
}

@include desktop {
  .navbar__mobile {
    display: none;
  }
}

@include tablet {
  .navbar__mobile {
    display: none;
  }
}

@include mobile {
  .navbar__full {
    display: none;
  }

  .navbar__mobile {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
  }
}
