@import url('https://fonst.googleapis.com/css?family=Montserrat:500');

* {
  box-sizing: border-box;
}

li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #edf0f1;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: $background-color-dark;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

@media (min-width: 600px) {
  .nav__links {
    list-style: none;
    li {
      display: inline-block;
      padding: 0px 20px;

      a {
        color: rgb(255, 255, 255) !important;
        transition: all 0.3s ease 0s;
      }

      a:hover {
        color: rgba(255, 255, 255, 0.8) !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .nav__links {
    display: none;
  }
  button {
    display: none;
  }
}
