.footer-container {
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;
  background-color: $background-color-dark;
  color: white;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-fixed {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  color: white;
  width: 100%;
  /* Height of the footer*/
  height: 4em;
  background-color: $background-color-dark;
}
