@media (min-width: 800px) {
  .about-page {
    h1 {
      text-align: center;
    }
  }

  .about-page__content {
    display: flex;
    justify-content: space-around;
  }

  .about-page__description {
    margin: 2em;
  }

  .about-page__contact {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 300px;
    color: white;
    background-color: $background-color-dark;
    padding: 1em;
    margin: 1em;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .about-page {
    h1 {
      text-align: center;
    }

    p {
      margin: 1em;
    }
  }

  .about-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-page__contact {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $background-color-dark;
    padding: 1em;
    margin: 1em;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
    }
  }
}
