.create-recipe {
  margin-left: 3em;
  margin-right: 3em;
  background-color: white;
  border: solid rgb(221, 221, 221) 1px;
  border-radius: 3px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-recipe h3 {
  color: $background-color-dark;
}

.create-recipe ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@include desktop {
}
