.create-recipe {
  background-color: white;
  border: solid rgb(221, 221, 221) 1px;
  border-radius: 3px;
  padding: 1em;
}

.create-recipe h3 {
  color: $background-color-dark;
}

.create-recipe ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@include desktop {
  .create-recipe {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
  }

  .create-recipe__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .create-recipe__section {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
}

@include tablet {
  .create-recipe {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}

@include mobile {
  .create-recipe {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .create-recipe__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
