.create-recipe {
  margin-left: 3em;
  margin-right: 3em;
  background-color: white;
  border: solid rgb(221, 221, 221) 1px;
  border-radius: 3px;
  padding: 1em;
}

.create-recipe h3 {
  color: $background-color-dark;
}

.create-recipe ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@include desktop {
  .create-recipe__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .create-recipe__section {
    display: flex;
    flex-direction: column;
  }

  .create-recipe__section textarea {
    width: 500px;
  }
}
