@include desktop {
  .recipe-card-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    min-height: 68vh;
  }
}

@media (max-width: 1260px) {
  .recipe-card-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}

@include tablet {
  .recipe-card-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 400px 400px;
    justify-items: center;
  }
}

@include mobile {
  .recipe-card-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
