.view-recipe {
  h1,
  p {
    text-align: center;
  }
  min-height: 75vh;
}

.view-recipe__header {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.view-recipe__img {
  width: 250px;
  height: 250px;
  margin: 0.5em;
  border: solid gray 1px;
  margin-right: 1em;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5);
}

.view-recipe__content {
  display: flex;
  justify-content: space-around;

  li {
    color: black;

    line-height: 2rem;
  }
}

.view-recipe__instructions {
  background-color: white;
  border: solid gray 1px;
  padding: 1em;
  width: 40vw;
  p {
    line-height: 4;
  }
}

.view-recipe__ingredients {
  background-color: white;
  border: solid gray 1px;
  padding: 1em;
  width: 20vw;
  li {
    line-height: 3;
  }
}

.view-recipe__description {
  text-align: center;
}

.view-recipe__toolbar {
  margin: 2em;
  display: flex;
  justify-content: flex-end;
}
